<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716061975026-i1hcfsabck65absujd3hc121e1mkgne9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716061975026-i1hcfsabck65absujd3hc121e1mkgne9</string>
	<key>API_KEY</key>
	<string>AIzaSyA81lT7vBK9TG_dTn92KCWs08RHDUViYTg</string>
	<key>GCM_SENDER_ID</key>
	<string>716061975026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pr.cafeCollectionLim</string>
	<key>PROJECT_ID</key>
	<string>cafe-collection-items</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-collection-items.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716061975026:ios:c2902ed003a1f8b77b4b6b</string>
</dict>
</plist>